* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containeer {
  background-color: #67686b;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.pageSection {
  box-sizing: border-box;
  padding: 1rem 0;
}
